@using Data.Enumeration
@model Web.Models.Rooms.RoomsCreateViewModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create room</h1>
<hr />

@if (Model != null && Model.Message != null)
{

    <h5 style="color:red;">Last action was not completed:</h5>
    <h5 style="color:red;">@Model.Message</h5>
    <hr />
}

<div class="row">
    <div class="col-md-4">
        <form asp-action="Create" asp-controller="Rooms" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Number" class="control-label"></label>
                <input asp-for="Number" class="form-control" type="number" />
                <span asp-validation-for="Number" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Capacity" class="control-label"></label>
                <input asp-for="Capacity" class="form-control" />
                <span asp-validation-for="Capacity" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="RoomType" class="control-label"></label>
                @Html.DropDownList("RoomType", Html.GetEnumSelectList<RoomTypeEnum>(), new { @class = "form-control" })
                <span asp-validation-for="RoomType" class="text-danger"></span>
            </div>
            <br />
            <div class="form-group">
                <label asp-for="PriceAdult" class="control-label">Bed price (adult)</label>
                @if (Model != null && Model.PriceAdult > 0)
                {
                    <input asp-for="PriceAdult" class="form-control" type="number" step="0.01" value="@Model.PriceAdult" />
                }
                else
                {
                    <input asp-for="PriceAdult" class="form-control" type="number" step="0.01" value="0.00" />
                }
                <span asp-validation-for="PriceAdult" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PriceChild" class="control-label">Bed price (under-age)</label>
                @if (Model != null && Model.PriceChild > 0)
                {
                    <input asp-for="PriceChild" class="form-control" type="number" step="0.01" value="@Model.PriceChild" />
                }
                else
                {
                    <input asp-for="PriceChild" class="form-control" type="number" step="0.01" value="0.00" />
                }
                <span asp-validation-for="PriceChild" class="text-danger"></span>
            </div>
            <br />
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{ Html.RenderPartial("_ValidationScriptsPartial");}
}
