
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Web</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <style>
        .whitefont{
            color: whitesmoke;
        }
    </style>
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm border-bottom box-shadow mb-3" style="background-color:darkslategrey">
            <div class="container">
                <a class="navbar-brand whitefont" asp-area="" asp-controller="Home" asp-action="Index"><b>Home</b></a>
                <a class="navbar-brand whitefont" asp-area="" asp-controller="Users" asp-action="Index">View Users</a>
                <a class="navbar-brand whitefont" asp-area="" asp-controller="Clients" asp-action="Index">View Clients</a>
                <a class="navbar-brand whitefont" asp-area="" asp-controller="Rooms" asp-action="Index">View Rooms</a>
                <a class="navbar-brand whitefont" asp-area="" asp-controller="Reservations" asp-action="Index">View Reservations</a>

                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2020 - HotelReservation
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
